@import "../common/color";
.dashboard__header {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1002;
    height: 52px;
    border-bottom: solid 2px $button_background;
    box-shadow: 0 1px 10px -1px $color_ironside_gray;
    .navbar {
        height: 50px;
        i {
            font-size: 18px;
        }
        .upgarde-and-notification {
            .navbar__user-profile--dropdown {
                >ul {
                    >li.sub-menu {
                        >a {
                            padding: 3px 10px;
                        }
                    }
                }
            }
            .header-action-link {
                color: #216384;
            }
            li:not(.navbar__user-profile--dropdown):not(.upgrade-button-nav) {
                a {
                    padding: 14px 10px;
                }
            }
            .upgrade-button,
            .upgrade-button:active:focus,
            .upgrade-button:active:hover,
            .upgrade-button:focus,
            .upgrade-button:hover {
                background-color: #ffa043;
                color: #fff;
            }
            .notification--dropdown {
                .bell-icon {
                    .circle-o-icon {
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: $button_background;
                        margin: 0px;
                        top: -5px;
                        position: relative;
                    }
                    .badge {
                        padding: 3px 5px;
                        top: -15px;
                        position: relative;
                    }
                }
                >a.nav-dropdown {
                    padding: 16px 0px 12px 5px;
                }
                .dropdown-menu {
                    min-width: 400px;
                    .notification-header {
                        .refresh-icon {
                            font-size: 14px;
                        }
                        .circle-o-icon {
                            height: 15px;
                            width: 15px;
                            border: 1px solid;
                            border-radius: 50%;
                            margin: 0px;
                        }
                    }
                    .see-all-link {
                        a {
                            padding: 5px;
                            &:hover,
                            &:active,
                            &:focus {
                                background-color: transparent;
                            }
                        }
                        .btn {
                            color: $button_active_background;
                            text-decoration: underline;
                        }
                    }
                    .list-group-item {
                        padding: 10px;
                        margin: 5px;
                        border-radius: 4px;
                        border-left: 5px solid;
                        background-color: $color_gallery;
                        &:nth-child(3n+0) {
                            border-left-color: #48c0ed;
                        }
                        &:nth-child(3n+1) {
                            border-left-color: #ffa043;
                        }
                        &:nth-child(3n+2) {
                            border-left-color: #af66fa;
                        } // .circle-o-icon {
                        //     height: 8px;
                        //     width: 8px;
                        //     border: 1px solid;
                        //     border-radius: 50%;
                        //     margin: 0px;
                        // }
                        // &.new {
                        //     background-color: aliceblue;
                        //     .circle-o-icon {
                        //         background-color: $button_active_background;
                        //     }
                        // }
                    }
                }
            }
        } // &-nav.nav {
        //     a {
        //         color: $button_background;
        //     }
        //     a:active,
        //     a:focus {
        //         color: $button_active_background;
        //     }
        //     a:hover {
        //         color: $button_hover_background;
        //     }
        // }
        // &--full-width {
        //     .container {
        //         width: 100%;
        //     }
        // }
        // li {
        //     &:focus {
        //         border: 0;
        //     }
        //     >a {
        //         &:hover {
        //             background: none;
        //             border: 0;
        //         }
        //         &:focus {
        //             background: none;
        //             border: 0;
        //         }
        //     }
        // }
        // &__dropdown {
        //     .user-name {
        //         text-transform: capitalize;
        //         padding: 10px 0 10px 10px;
        //     }
        //     .dropdown-menu {
        //         padding: 0;
        //         .divider {
        //             margin: 0;
        //         }
        //         a {
        //             &:hover {
        //                 background-color: $button_background;
        //                 color: $white;
        //             }
        //             &:active,
        //             &:focus {
        //                 background-color: $button_background;
        //                 color: $white;
        //             }
        //         } 
        //         .user-details {
        //             background-color: $side_menu_blue_lite;
        //             padding: 10px;
        //             color: $white;
        //             .user-mini-me {
        //                 width: 70px;
        //             }
        //             .icon {
        //                 font-size: 30px;
        //                 color: $white;
        //                 &:hover {
        //                     color: $white;
        //                 }
        //             }
        //             .user-name {
        //                 line-height: 1;
        //                 vertical-align: super;
        //                 display: inline-block;
        //             }
        //         }
        //     }
        // }
        &__right-nav {
            .--inline-flex {
                display: inline-flex;
            }
            &.--padding-all {
                padding: 5px;
            }
            .admin-icon {
                &--padding-all {
                    a {
                        padding: 15px 10px 10px 10px;
                    }
                }
            }
        }
        &--no-margin {
            margin-bottom: 0;
            .container {
                margin: 0;
            }
        }
        &--padding-left-20 {
            padding-left: 20px;
        }
        &--padding-right-20 {
            padding-right: 20px;
        }
    }
}

.upgrade-response-icon {
    color: #3fbfbb;
}