.profile-management__page{
    .button-primary{
        margin-top:0px;
    }
}
.profile-popup {
    .modal-dialog {
        
        width: 500px;
         .modal-content {
            border-radius: 10px;
            .modal-header{
                padding: 15px 30px;
                background-color: #e1e6ef;
                color: #333;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
         .modal-title{
            text-align: left;
            font-weight: 700;
         }
         .grey-text{
             color: #9faecb;
         }
        }
            .modal-body{
                padding: 20px 30px 30px 30px;
                .grey-text{
                    margin-top: 0px !important;
                    margin-bottom: 20px;
                    font-size: 13px;
                    line-height: 1.5;
                    color: #9faecb;
                }
                label{
                    font-weight: 400;
                }
                .button-primary{
                    margin-top: 0px;
                    
                }
                .form-control:focus{
                    border-color:#3fbfbb
                }
            }
        }
    }
}